.product-cont{
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-title{
  font-size: 1em;
  margin-bottom: 10px;
}

.product-price{
   font-size: 1em;
  margin-bottom: 10px;
}

.product-description{
   font-size: 1em;
  margin-bottom: 10px;
}

.product-image{
  width: 100%;
  height: auto;
  border-radius: 8px;
}